.book-details {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    color: #000;
    width: 70%;
}

.back-button {
    margin-bottom: 1rem;
}

.book-details h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #2b3b6b; /* azul oscuro */
    padding-bottom: 0.5rem;
}

.book-info-line {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.book-info-line div {
    flex: 1 1 auto; /* para que quepa en una linea */
}

.book-main {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.book-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.8rem;
}

.book-right {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.book-right img {
    max-width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.book-field {
    font-size: 0.95rem;
}

.book-summary, .book-reviews {
    margin-bottom: 1rem;
}

.book-summary h3, .book-reviews h3 {
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.book-reviews ul {
    padding-left: 1.2rem;
}

.book-reviews li {
    margin-bottom: 0.3rem;
    font-style: italic;
}